{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-clean-order"
  ],
  "customSyntax": "postcss-jsx",
  "rules": {
    "function-no-unknown": null
  }
}